[submodule "src/orient2/src/mpu9250"]
	path = src/orient2/src/mpu9250
	url = https://github.com/libdriver/mpu9250
[submodule "src/pressure/src/bmp390"]
	path = src/pressure/src/bmp390
	url = https://github.com/libdriver/bmp390
[submodule "src/orient/src/BNO055-Linux-Library"]
	path = src/orient/src/BNO055-Linux-Library
	url = https://github.com/williamg42/BNO055-Linux-Library
[submodule "src/gnc/casadi"]
	path = src/gnc/casadi
	url = https://github.com/casadi/casadi.git
[submodule "src/gnc/third_party/casadi"]
	path = src/gnc/third_party/casadi
	url = https://github.com/casadi/casadi.git
