name: Build and Test

on: 
    pull_request:
        types: [opened, synchronize, reopened, ready_for_review]
    push:
        branches: [main, develop]
    


jobs: 
    build-and-test:
        runs-on: ubuntu-22.04

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Build and test ROS2 packages
              run: | 
                docker compose run --rm dev bash -c -i' 

                echo "Git Submodules"
                git submodule update --init --recursive 

                echo "Building ROS2 packages"
                colcon build --event-handlers console_direct+
                '