name: Build and Test

on: 
    pull_request:
        types: [opened, synchronize, reopened, ready_for_review]
    push:
        branches: [main, develop]
    


jobs: 
    build-and-test:
        runs-on: ubuntu-22.04
        permissions: 
          contents: read
          packages: read
        container:
          image: ghcr.io/machworksvt/machpilot-dev:latest
          credentials: 
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Build and test ROS2 packages
              run: | 
                    source /opt/ros/humble/setup.bash 
                    export CMAKE_PREFIX_PATH="/opt/ros/humble:$CMAKE_PREFIX_PATH"
                    source /workspace/install/setup.bash
                    source /usr/share/colcon_argcomplete/hook/colcon-argcomplete.bash



